.headerStyle {
  padding: 0;
  background: transparent;
}

.contentStyle {
  @media screen and (max-width: 576px) {
    margin-bottom: 5%;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 5%;
  }
  @media screen and (max-width: 992px) {
    margin-bottom: 4%;
  }
  @media screen and (max-width: 1200px) {
    margin-bottom: 3%;
  }
  @media screen and (max-width: 1600px) {
    margin-bottom: 3%;
  }
}

.footerStyle {
  text-align: center;
  background: #dfedf7;
}

.handleBotton {
  text-align: right;
}

.collapse {
  margin-bottom: 2%;
}
